    .card{
      margin: 2rem;
      padding: 2rem;
    }
    .btn{
      margin: 1rem;
      color: #000;
      background: rgb(84, 153, 233);
    }
    #btn-1{
      margin: 1rem;
      color: #000;
      background: rgb(84, 153, 233);
    }
    .card-title{
      margin: 1rem;
      color: rgb(8, 8, 122);
      font-size: 2rem;
      font-weight: bold;
    }